@charset "UTF-8";

.g_text{
 	font-family: 'Do Hyeon', sans-serif;
 }
body{
 	font-family: 'Do Hyeon', sans-serif;
 	background-color: #EBFBFF; 
}
.fl{
	float:left;
}
.clear{
	clear:both;
}
.a_btn{
	color: #007BFF;
	cursor: pointer;
}
.ray_20{
	margin-left:20%;
	width:983px;
}
.font_50{
	font-size:50px;
}
.font_40{
	font-size:40px;
}
.font_30{
	font-size:30px;
}
.font_20{
	font-size:20px;
}
.font_15{
	font-size:15px;
}
.font_13{
	font-size:13px;
}
.font_10{
	font-size:10px;
}
.btn_01{
	background-color:transparent; 
	border:solid 2px;
	border-radius:2%;
	border-color:#3063C2;
	color: #3063C2; 
}
.btn_01_01{
	background-color:#3063C2; 
	border:solid 2px;
	border-radius:2%;
	border-color:#3063C2;
	color: white; 
}
.btn_02{
	background-color:transparent; 
	border:solid 2px;
	border-radius:2%;
	border-color:black;
	color: black; 
}
.btn_02_01{
	background-color:black; 
	border:solid 2px;
	border-radius:2%;
	border-color:black;
	color: white; 
}
.margin_left_10{
	margin-left:10px;
}
.margin_left_20{
	margin-left:20px;
}
.margin_left_30{
	margin-left:30px;
}
.margin_left_40{
	margin-left:40px;
}
.margin_left_50{
	margin-left:50px;
}
.margin_left_80{
	margin-left:80px;
}
.margin_left_100{
	margin-left:100px;
}
.margin_right_10{
	margin-right:10px;
}
.margin_right_20{
	margin-right:20px;
}
.margin_right_30{
	margin-right:30px;
}
.margin_right_40{
	margin-right:40px;
}
.margin_right_50{
	margin-right:50px;
}
.margin_right_80{
	margin-right:80px;
}
.margin_right_100{
	margin-right:100px;
}
.line_01{
	height:1px;width:100%;background-color:#3063C2;
}
.line_02{
	height:2px;width:100%;background-color:black;
}
.dis_n{
	display:none;
}
.vis_h{
	visibility: hidden;
}
.cursur_p{
	cursor:pointer;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	display:none;
	opacity: 1;
}
.popup {
	margin: 70px auto;
	margin-top: 15%;
	background: #fff;
	background-color: #EBFBFF; 
	border-radius: 10px;
	width: 507px;
	position: relative;
	transition: all 5s ease-in-out;
	
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}
.t_align_c{
	text-align:center;
}
.t_align_r{
	text-align:right;
}